
.header {
  margin: 0;
  padding: 12px 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-area {
  width: 96px;
  height: 96px;
  padding: 0px;
}

.blog-title {
  margin-left: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #38bdf8;
}

.subtitle {
  margin-left:30px;
  font-size: 0.9rem;
  color: #94a3b8;
  font-style: italic;
}

/* Menu */
.nav-menu ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-menu a {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #38bdf8;
}

/* Botón logout */
.nav-menu button {
  background: #ef4444;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-menu button:hover {
  background: #dc2626;
}

/* Responsive */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 12px;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 12px;
  }
}
